@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen+Mono&display=swap');

:root {
    
    --mono-font: "Oxygen Mono", monospace;
    --sans-font:  "Funnel Sans", sans-serif;
    --display-font: "Funnel Display", sans-serif;
    



    --indigo-2: #9296f9;
    --indigo-5: #6168F7;
    --indigo-8: #303af5;
    

    --pink-2: #eebefa;
    --pink-3: #e599f7;
    --pink-6: #be4bdb;
    --pink-7: #ae3ec9;

 
    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-2: #e9ecef;
    --gray-3: #dee2e6;
    --gray-4: #ced4da;
    --gray-6: #868e96;
    --gray-7: #495057;
    --gray-8: #343a40;
    --gray-9: #212529;
    --gray-10: #16191D;
    --gray-12: #030507;

    --red-2: #ffc9c9;
    --red-3: #ffa8a8;
    --red-6: #fa5252;
    --red-9: #c92a2a;

    --green-1: #d3f9d8;
    --green-9: #2b8a3e;

    --lime-6: #82c91e;
    --blue-5: #339af0;
    --orange-6: #fd7e14;
    --yellow-3: #ffe066;


    --primary: var(--indigo-5);
    --primarylight:var(--indigo-3);
    --primarydark: var(--indigo-8);
    
    --secondary:var(--pink-6);
    --secondarylight:var(--pink-3);
    --secondarydark:var(--pink-7);

    color-scheme: light dark;
    --bg: light-dark(var(--gray-2), var(--gray-12));
    --fg: light-dark(var(--gray-1), var(--gray-10));
    --border: light-dark(var(--gray-2), var(--gray-9));
    --copy: light-dark(var(--gray-12), var(--gray-0));
    --copylight: light-dark(var(--gray-7), var(--gray-4));
    --primarysubtle: light-dark(var(--indigo-3), var(--indigo-8));

    --text-xxs: .75rem;
    --text-xs: .875rem;
    --blog-text-base: 1rem;
    --text-base: 1.25rem;
    --text-large: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 2.5rem;
    --text-3xl: 3rem;
    --text-4xl: 4rem;
    
   

}

body {
    background: var(--bg);
    font-family: var(--sans-font);
    font-size: var(--text-base);
    line-height: 1.5;
}

img {
    max-width: 100%;
}

/* Text Styles */

h1 {
    font-size: var(--text-2xl);
    font-family: var(--display-font);
}

h2 {
    font-size: var(--text-xl);
    font-family: var(--display-font);
}

h3 {
    font-size: var(--text-large);
    font-family: var(--display-font);
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: var(--primary) 3px underline;
    font-size: var(--text-base);
}

.accent-text {
     background: -webkit-linear-gradient(-27deg, #303af5, #6168F7);
     background-clip: text;   
     -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

/* .large-text {
    font-size: var(--text-large);
} */




/* Post styles */

.post-card {
    margin-bottom: 72px;
    background: var(--fg);
    padding: 24px;
    border-radius: 8px;
  }

.post-title {
    margin-bottom: 4px;
}

.post-date {
    margin-top: 0px;
    font-size: var(--text-xs)
}

/* .post-description {

} */

.post-tags {
    display: inline;
    margin: 4px;
}

.post-tags a {
    font-size: var(--text-xs);
    font-family: var(--mono-font);
    text-decoration: underline var(--secondary);
}






