*,
*:before,
*:after {
  margin: 0;
  padding: 0;

   /* Neutral colors */
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #16191d;
  --gray-11: #0d0f12;
  --gray-12: #030507;

  /* Indigo -- swap out any brand color */
    --indigo-0: #edf2ff;
  --indigo-1: #dbe4ff;
  --indigo-2: #bac8ff;
  --indigo-3: #91a7ff;
  --indigo-4: #748ffc;
  --indigo-5: #5c7cfa;
  --indigo-6: #4c6ef5;
  --indigo-7: #4263eb;
  --indigo-8: #3b5bdb;
  --indigo-9: #364fc7;
  --indigo-10: #2f44ad;
  --indigo-11: #283a94;
  --indigo-12: #21307a;

  /* Light and dark modes */
  /* light */
  --brand-light: var(--indigo-6);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark: var(--indigo-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;

  /* Typography */

--font-sans: Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif;
--font-mono: Dank Mono,Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code, Menlo, Consolas, DejaVu Sans Mono, monospace;

  --font-size-00: .5rem;
  --font-size-0: .75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;

  --font-size-fluid--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --font-size-fluid--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --font-size-fluid-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --font-size-fluid-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --font-size-fluid-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --font-size-fluid-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --font-size-fluid-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --font-size-fluid-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  --font-size-fluid-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
  --font-size-fluid-7: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
  --font-size-fluid-8: clamp(4.8373rem, 3.7682rem + 4.7514vw, 7.4506rem);
  

   /* Sizing */
  --size-000: -.5rem;
  --size-00: -.25rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --size-fluid-1: clamp(.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);
  --max-width: 76rem;
}


:root {
    
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* color schemes */
     color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}


  body {
    min-block-size: 100vh;
    font-family: var(--font-sans);
   background: var(--surface-3);
  }
   
    /* Layout */

  main {
      max-width: var(--max-width);
      padding-inline: var(--size-fluid-3);
      margin-inline: auto;

     @media (width < 500px) {
        padding: 1rem;
    }
  }



/* Typography */

  h1,
  h2 {
    font-weight: 900;
    letter-spacing: -0.02rem;
  }
  
  h1, h2, h3, h4, button, input, label{
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 /* FUTURE :heading */ {
    text-wrap: balance;
    margin-block-start: var(--size-9);
    margin-block-end: var(--size-4);
  }

  h2 + h3 {
    margin-block-start: 0;
}

  h1 {
    font-size: var(--font-size-fluid-6);
  }

  h2 {
    font-size: var(--font-size-fluid-3);
  }

  h3 {
    font-size: var(--font-size-fluid-2);
  }


  p,
  li,
  dd {
    font-size: var(--font-size-fluid-0);
    margin-block-end: var(--size-4);
    text-wrap: pretty;
    max-inline-size: 72ch;
    line-height: 1.5;
  }

  ul,
  ol,
  dl {
    margin: 0;
    padding: 0;
    list-style: inside;
    ul,
    ol,
    dl {
      padding-inline-start: 2ch;
    }
  }

  a {
    text-decoration: underline var(--brand-light);
    text-underline-offset: .2em;
    color: inherit;
  }

  a:hover, a:focus {
    color: var(--brand-light);
  }

  input,
  select,
  textarea,
  button {
    font: inherit;
    font-size: inherit;
    /* FUTURE: appearance: base; */
  }

/* Post Styles */

/* .post-card {
    margin-bottom: var(--size-fluid-5);
    background: var(--surface-2);
    padding: 24px;
    border-radius: 8px;
  } */

  /* .post-heading {
    margin-block-start: -20px;
    margin-block-end: -5px;
  } */
.post-title {
    margin-block-end: var(--size-1);
}

.post-date {
    margin-block-start: 0px;
    font-size: var(--font-size-fluid--1);
    color: var(--copylight)
}

.post-tags {
    display: inline;
    margin: var(--size-1);
}

.post-tags a {
    font-size: var(--font-size-fluid--2);
    font-family: var(--font-mono);
}

  /* media */

  img,
  picture, 
  video,
  iframe {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    border-style: none;
  }

  figure {
    inline-size: fit-content;
    margin-inline: auto;
  }
  figcaption {
    contain: inline-size;
    font-size: 90%;
  }

  label {
    display: block;
  }
  

  /* A11y */
  .screenreader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  :focus-visible {
    outline-offset: 2px;
  }

  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
}


