*,
*:before,
*:after {
    margin: 0;
    padding: 0;

    /*Neutral colors*/
    --neutral-50: hsl(0, 0%, 100%);
    --neutral-100: hsl(48, 33.33%, 97.06%);
    --neutral-200: hsl(48, 25%, 92.16%);
    --neutral-300: hsl(42.86, 4.76%, 71.18%);
    --neutral-400: hsl(51.43, 3.14%, 43.73%);
    --neutral-500: hsl(60, 1.64%, 23.92%);
    --neutral-600: hsl(60, 2.52%, 23.33%);
    --neutral-700: hsl(30, 3.33%, 11.76%);
    --neutral-800: hsl(60, 2.56%, 7.65%);
    --neutral-900: hsl(0, 0%, 0%);

    /*Brand colors*/
    --blue-100: hsl(195, 54.17%, 81.18%);
    --blue-200: hsl(194.81, 55.1%, 71.18%);
    --blue-300: hsl(195, 54.55%, 61.18%);
    --blue-400: hsl(195.11, 54.22%, 51.18%);
    --blue-500: hsl(195, 53.61%, 38.04%);
    --blue-600: hsl(195, 55.56%, 21.18%);
    --blue-700: hsl(195.48, 54.39%, 11.18%);

    --orange-100: hsl(15, 54.17%, 81.18%);
    --orange-200: hsl(14.81, 55.1%, 71.18%);
    --orange-300: hsl(15, 54.55%, 61.18%);
    --orange-400: hsl(15.11, 54.22%, 51.18%);
    --orange-500: hsl(15.26, 54.29%, 41.18%);
    --orange-600: hsl(15, 55.56%, 21.18%);
    --orange-700: hsl(15.48, 54.39%, 11.18%);

    /* Light and dark modes */
    /* light */
    --brand-primary-light: var(--blue-500);
    --brand-secondary-light: var(--blue-600);
    --accent-primary-light: var(--orange-100);
    --accent-secondary-light: var(--orange-700);
    --background-primary-light: var(--neutral-200);
    --background-secondary-light: var(--neutral-300);
    --text-primary-light: var(--neutral-800);
    --text-secondary-light: var(--neutral-400);
    --border-light: var(--neutral-700);

    /*dark*/
    --brand-primary-dark: var(--blue-400);
    --brand-secondary-dark: var(--blue-200);
    --accent-primary-dark: var(--orange-700);
    --accent-secondary-dark: var(--orange-100);
    --background-primary-dark: var(--neutral-800);
    --background-secondary-dark: var(--neutral-600);
    --text-primary-dark: var(--neutral-100);
    --text-secondary-dark: var(--neutral-300);
    --border-dark: var(--neutral-700);

    /* Typography */

    --font-sans: "Instrument Sans Variable", sans-serif;

    --font-mono:
        Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono,
        Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code, Menlo,
        Consolas, DejaVu Sans Mono, monospace;

    --font-size-00: 0.75rem;
    --font-size-0: 1rem;
    --font-size-1: 1.125rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.75rem;
    --font-size-5: 2rem;
    --font-size-6: 3rem;

    /* Sizing */
    --size-000: -0.5rem;
    --size-00: -0.25rem;
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 1rem;
    --size-4: 1.25rem;
    --size-5: 1.5rem;
    --size-6: 1.75rem;
    --size-7: 2rem;
    --size-8: 3rem;
    --size-9: 4rem;
    --size-10: 5rem;
    --size-11: 7.5rem;
    --size-12: 10rem;
    --size-13: 15rem;
    --size-14: 20rem;
    --size-15: 30rem;
    --size-fluid-1: clamp(0.5rem, 1vw, 1rem);
    --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
    --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
    --size-fluid-4: clamp(2rem, 4vw, 3rem);
    --size-fluid-5: clamp(4rem, 5vw, 5rem);
    --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
    --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
    --size-fluid-8: clamp(10rem, 20vw, 15rem);
    --size-fluid-9: clamp(15rem, 30vw, 20rem);
    --size-fluid-10: clamp(20rem, 40vw, 30rem);

    --max-width: 80rem;
    --max-text-length: 60ch;
}

:root {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    /* color schemes */
    color-scheme: light;

    /* set defaults */
    --brand-primary: var(--brand-primary-light);
    --brand-secondary: var(--brand-secondary-light);
    --accent-primary: var(--accent-primary-light);
    --accent-secondary: var(--accent-secondary-light);
    --background-primary: var(--background-primary-light);
    --background-secondary: var(--background-secondary-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --border: var(--border-light);

    @media (prefers-color-scheme: dark) {
        --brand-primary: var(--brand-primary-dark);
        --brand-secondary: var(--brand-secondary-dark);
        --accent-primary: var(--accent-primary-dark);
        --accent-secondary: var(--accent-secondary-dark);
        --background-primary: var(--background-primary-dark);
        --background-secondary: var(--background-secondary-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --border: var(--border-dark);
    }

    [color-scheme="light"] {
        color-scheme: light;

        --brand-primary: var(--brand-primary-light);
        --brand-secondary: var(--brand-secondary-light);
        --accent-primary: var(--accent-primary-light);
        --accent-secondary: var(--accent-secondary-light);
        --background-primary: var(--background-primary-light);
        --background-secondary: var(--background-secondary-light);
        --text-primary: var(--text-primary-light);
        --text-secondary: var(--text-secondary-light);
        --border: var(--border-light);
    }

    [color-scheme="dark"] {
        color-scheme: dark;

        --brand-primary: var(--brand-primary-dark);
        --brand-secondary: var(--brand-secondary-dark);
        --accent-primary: var(--accent-primary-dark);
        --accent-secondary: var(--accent-secondary-dark);
        --background-primary: var(--background-primary-dark);
        --background-secondary: var(--background-secondary-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --border: var(--border-dark);
    }

    body {
        font-family: var(--font-sans);
        background: var(--background-primary);
        color: var(--text-primary);
        min-height: 100vh;
    }

    /* Layout */

    main {
        max-width: var(--max-width);

        padding-inline: var(--size-fluid-3);
        margin-inline: auto;

        /*@media (width < 500px) {
        padding: 1rem;
    }*/
    }

    /* Typography */

    h1,
    h2 {
        font-weight: 600;
        letter-spacing: -0.02rem;
    }

    h1,
    h2,
    h3,
    h4,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
  h2,
  h3,
  h4,
  h5,
  h6 /* FUTURE :heading */ {
        text-wrap: balance;
        margin-block: 0;
    }

    h2 + h3 {
        margin-block-start: 0;
    }

    h1 {
        font-size: var(--font-size-6);
        max-inline-size: 55rem;
    }

    h2 {
        font-size: var(--font-size-5);
        margin-block-start: var(--size-10);
        margin-block-end: var(--size-8);
        max-inline-size: var(--max-text-length);
    }

    h3 {
        font-weight: 500;
        font-size: var(--font-size-3);
        margin-block-start: var(--size-8);
        margin-block-end: var(--size-3);
    }

    p,
    li,
    dd {
        font-size: var(--font-size-1);
        font-weight: 400;
        margin-block-end: var(--size-5);
        text-wrap: pretty;
        max-inline-size: var(--max-text-length);
        line-height: 1.8;
    }

    ul,
    ol,
    dl {
        margin: 0;
        padding: 0;
        list-style: inside;
        ul,
        ol,
        dl {
            padding-inline-start: 2ch;
        }
    }

    a {
        color: inherit;
        text-decoration: underline 2px var(--brand-primary);
        text-underline-offset: var(--size-1);
        -webkit-text-decoration: underline var(--brand-primary);
        -webkit-text-underline-offset: var(--size-1);
    }

    a:hover,
    a:focus {
        color: var(--brand-primary);
    }

    input,
    select,
    textarea,
    button {
        font: inherit;
        font-size: inherit;
        /* FUTURE: appearance: base; */
    }

    .i {
        stroke-width: var(--i-stroke, 2);
        width: var(--i-size, 18px);
        height: var(--i-size, 18px);
        margin-inline-end: var(--size-1);
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }
    /* Post Styles */

    .post-card {
        margin-block-start: var(--size-8);
        margin-block-end: var(--size-10);
    }

    .post-date {
        font-size: var(--font-size-0);
        color: var(--text-secondary);
        /* margin-inline: var(--size-1); */
        display: flex;
        align-items: center;
        gap: var(--size-1);
    }

    .post-tags {
        font-size: var(--font-size-0);
        color: var(--text-secondary);
        /* margin-inline: var(--size-1); */
        display: flex;
        align-items: center;
        gap: var(--size-1);
    }

    .post-tags a {
        margin-inline: 0.15em;
        text-decoration: none;
        color: inherit;
    }

    .post-tags a:hover,
    a:focus {
        color: var(--brand-primary);
    }

    .post-metadata {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--size-7);
        margin-block-start: var(--size-3);
        margin-block-end: var(--size-4);
    }

    .post-heading {
        margin-block-start: 0;
    }
    .post-heading h1 {
        margin-block-end: 0;
    }

    .post-header {
        margin-block: var(--size-12);
    }

    .post-type {
        font-size: var(--font-size-00);
        text-transform: uppercase;
        color: var(--accent-secondary);
        background-color: var(--accent-primary);
        font-weight: 600;
        letter-spacing: 1px;
        padding: 4px 6px;
        border-radius: 4px;
        border: 1px, solid, var(--accent-secondary);
        width: fit-content;
        margin-block-end: var(--size-4);

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    /* media */

    img,
    picture,
    video,
    iframe {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
        border-style: none;
    }

    figure {
        inline-size: fit-content;
        margin-inline: auto;
    }
    figcaption {
        contain: inline-size;
        font-size: 90%;
    }

    label {
        display: block;
    }

    /* A11y */
    .screenreader-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    :focus-visible {
        outline-offset: 2px;
    }

    @media (prefers-reduced-motion: no-preference) {
        @view-transition {
            navigation: auto;
        }
    }
}
