---
import Section from "../components/Section.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About me";
const pageTitle = title;
---

<BaseLayout pageTitle={pageTitle}>
    <Section>
        <div class="head">
            <div>
                <img
                    class="profile"
                    src="../media/profilepic.png"
                    alt="A headshot of Max, a white person with short brown hair and glasses."
                />
            </div>
            <div class="intro-content">
                <h1 class="headline">👋 Hey there, I'm Max!</h1>
                <div class="content">
                    <p class="subhead">
                        I work hard so my dog can have a better life.
                    </p>
                </div>
            </div>
        </div>

        <p>
            I'm a product designer, former librarian, and (hopefully) future
            design engineer.
        </p>

        <p>
            I started my career as a librarian (which means I'm awesome at
            information architecture) before making a career pivot and getting
            into UX about 9 years ago. Lately I've been thinking about making
            another (smaller) career change and getting into design engineering.
            I'm currently teaching myself React and a couple of animation
            libraries, while also brushing up on my CSS and JavaScript. I'll
            probably throw a little express.js and node.js in the mix to cover a
            bit of the backend as well.
        </p>

        <p>
            As a product designer, my specialties are informatin architecture,
            systems thinking, accessibility and inclusive design. I spent 7
            years working on developer tools and I'm currently working in the
            healthcare space.
        </p>

        <p>
            Outside of work I enjoy powerlifting, reading, hiking, and hanging
            out with my faithful canine companion, Rufus.
        </p>
    </Section>
</BaseLayout>

<style>
    .head {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    img.profile {
        max-width: 300px;
        border-radius: 100%;

        background-color: var(--blue-200);
        border: 5px solid var(--blue-100);
    }

    .headline {
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: var(--font-size-3);
        font-weight: 500;
        margin-block-start: var(--size-12);
        margin-block-end: var(--size-2);
    }
    .subhead {
        font-size: var(--font-size-6);
        margin-block-end: var(--size-12);
        max-width: 50rem;
        text-wrap: balance;
        line-height: 1.1;
    }
</style>
