---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import BlogCard from "./BlogCard.astro";
import PostSubNav from "../components/PostSubNav.astro";

const blogPosts = await getCollection("blog");
const notes = await getCollection("notes");
const playground = await getCollection("playground");
const allPosts = [...blogPosts, ...notes, ...playground];

allPosts.sort((a, b) => {
    const dateA = new Date(a.data.date);
    const dateB = new Date(b.data.date);
    return dateB.getTime() - dateA.getTime();
});

const suggestedEntries = allPosts.slice(0, 3);

const heading = "Latest posts";
---

<Section>
    <h2>{heading}</h2>
    <PostSubNav />
    {suggestedEntries.map((post) => <BlogCard post={post} />)}
</Section>

<style>
    h2 {
        margin-block-end: 0;
    }
</style>
