---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import BlogCard from "./BlogCard.astro";

const blogPosts = await getCollection("blog");
const notes = await getCollection("notes");
const playground = await getCollection("playground");
const allPosts = [...blogPosts, ...notes, ...playground];

allPosts.sort((a, b) => {
    const dateA = new Date(a.data.date);
    const dateB = new Date(b.data.date);
    return dateB.getTime() - dateA.getTime();
});

const suggestedEntries = allPosts.slice(0, 3);

const heading = "Latest posts";
const cta = { text: "All posts", href: "/posts" };
---

<Section>
    <h2>{heading}</h2>
    {suggestedEntries.map((post) => <BlogCard post={post} />)}
</Section>
<div class="cta">
    <a href={cta.href}>{cta.text} &rarr;</a>
</div>

<style>
    .cta {
        margin-block-start: var(--size-8);

        a {
            font-size: var(--font-size-fluid-1);
        }
    }
</style>
