---
import Card from "./Card.astro";
import WrapperWide from "./WrapperWide.astro";
---

<WrapperWide>
  <div class="card-container">
    <Card
      cardLink="#"
      ,
      cardTitle="Notes"
      ,
      cardContent="Short form content, one-off projects, random thoughts."
    />
    <Card cardLink="#" , cardTitle="Blog" , cardContent="Long form content." />
  </div>
</WrapperWide>
