---
import EmailLink from "./EmailLink.astro";
---

<footer>
  <hr />
  <div class="footer-content">
    <div>
      <p class="footer-cta">Like what you see? Get in touch!</p>
      <p class="email">hi@madebymax.dev</p>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        <p>&copy; 2025 Max Taylor. All rights reserved.</p>
      </div>
      <div class="social-links">
        <ul>
          <li>
            <a href="https://bsky.app/profile/madebymax.bsky.social"
              ><i class="fa-brands fa-bluesky"></i> Bluesky</a
            >
          </li>
          <li>
            <a href="https://github.com/made-by-max"
              ><i class="fa-brands fa-github"></i> Github</a
            >
          </li>
          <li>
            <a href="https://codepen.io/made-by-max"
              ><i class="fa-brands fa-codepen"></i> Codepen</a
            >
          </li>
          <!-- <li>
        <a href="https://www.linkedin.com/in/madebymax/"
          ><i class="fa-brands fa-linkedin"></i> LinkedIn</a
        >
      </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
  }

  .footer-content {
    max-width: var(--max-width);
    padding-inline: var(--size-fluid-3);
    margin-inline: auto;

    @media (width < 500px) {
      padding: 1rem;
    }
  }

  hr {
    margin-block: 8rem;
    margin-bottom: 8rem;
    max-width: 80rem;
    margin-inline: auto;
    height: 1px;
    background: -webkit-linear-gradient(-27deg, #303af5, #6168f7);
    border: none;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-block-start: 80px;
  }

  .copyright p {
    font-size: var(--font-size-fluid--1);
    color: var(--text-2);
  }

  .social-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;

    a {
      margin-inline-start: var(--size-5);
      font-size: var(--font-size-fluid-0);
    }
  }

  .footer-cta {
    font-size: var(--font-size-fluid-2);
  }

  .email {
    font-size: var(--font-size-fluid-3);
  }
</style>
