<h1>
  Hey! I'm Max, a designer who <span class="accent-text">codes</span>.
</h1>
<p class="subhead">I make rectangles on the internet look good.</p>

<style>
  .subhead {
    font-size: var(--font-size-fluid-3);
  }
</style>
