---
import WrapperWide from "./WrapperWide.astro";
---

<WrapperWide>
  <h1 class="headline">
    Hey! I'm Max, a designer who <span class="accent-text">codes</span>.
  </h1>
  <p class="subhead">I make rectangles on the internet look good.</p>
</WrapperWide>
