<h1>Max Taylor, product designer, frontend developer, organizer of chaos.</h1>
<p class="subhead">I make rectangles on the internet look good.</p>

<style>
  .subhead {
    font-size: var(--font-size-fluid-3);
  }
</style>
