<h1 class="headline">Max Taylor</h1>
<p class="subhead">Product Designer and Frontend Developer</p>

<style>
    .headline {
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: var(--font-size-3);
        font-weight: 500;
        margin-block-start: var(--size-12);
        margin-block-end: var(--size-2);
    }
    .subhead {
        font-size: var(--font-size-6);
        margin-block-end: var(--size-12);
    }
</style>
