---
import WrapperWide from "./WrapperWide.astro";
---

<WrapperWide>
  <h1 class="headline">
    Hey! I'm Max, designer and <span class="accent-text">creative coder!</span>
  </h1>
  <p class="home-tagline">
    I'm a product designer with over 10 years of experience specializing in
    systems design and information architecture. I'm looking to break into
    design engineering so I'm learning React and brushing up on my CSS and
    Javascript. I'll probably add in some Node.js and Next.js while I'm at it.
  </p>
</WrapperWide>

<style>
  .headline {
    font-size: 4rem;
  }
</style>
