---
import logo from "../assets/logo.svg"; // Correct import path
import { Image } from "astro:assets";
---

<nav>
    <div>
        <a href="/" class="HomeLink">
            <Image src={logo} alt="Home" height="20" />Max Taylor</a
        >
    </div>
    <div class="pageLinks">
        <a href="/posts/">All Posts</a>
        <a href="/about/">About</a>
    </div>

    <style>
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-block: var(--size-8);

            max-width: var(--max-width);
            padding-inline: var(--size-fluid-3);
            margin-inline: auto;

            @media (width < 500px) {
                padding: 1rem;
            }
        }

        nav a {
            text-decoration: none;
            color: var(--text-1);
            margin-inline-start: var(--size-5);
            font-size: var(--font-size-2);
        }

        .HomeLink {
            display: flex;
            gap: var(--size-3);
            align-items: center;
        }

        nav a:hover,
        a:focus {
            color: var(--brand-primary);
        }

        .pageLinks {
            display: flex;
            flex-wrap: wrap;
        }
        img {
            height: var(--size-7);
        }
    </style>
</nav>
