---

---

<nav>
  <div>
    <a href="/"
      ><img
        src="../public/media/madebymax.svg"
        alt="home"
        class="home-logo"
      /></a
    >
  </div>
  <div class="pageLinks">
    <a href="/writing/">All Posts</a>
    <a href="/about/">About</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    max-width: 1200px;
    margin-inline: auto;
    margin-block-end: 40px;
  }

  nav a {
    text-decoration: none;
    color: var(--copy);
    margin-inline-start: 24px;
    font-size: 1.25rem;
  }

  .pageLinks {
    display: flex;
    flex-wrap: wrap;
  }
  img {
    height: 32px;
  }
</style>
