<div class="subnav">
    <a href="/blog">Blog Posts</a>
    <a href="/notes">Notes</a>
    <a href="/playground">Playground</a>
</div>

<style>
    .subnav {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .subnav a {
        text-decoration: none;

        margin-inline-start: var(--size-5);
        font-size: var(--font-size-fluid-0);
    }
</style>
