<div class="subnav">
    <a href="/posts">All Posts</a>
    <a href="/blog">Blog</a>
    <a href="/notes">Notes</a>
    <a href="/playground">Playground</a>
</div>

<style>
    .subnav {
        display: flex;
        align-items: center;
        gap: var(--size-3);
        margin-block-start: var(--size-3);
    }

    .subnav a {
        text-decoration: none;
        font-size: var(--font-size-0);

        color: var(--text-secondary);
    }
</style>
