---
interface Props {
  cta: { href: string; text: string };
  heading: string;
}

const { cta, heading } = Astro.props;
---

<div class="section-header">
  <h2>
    {heading}
  </h2>
  <a href={cta.href}>{cta.text}</a>
</div>
