---
import { getCollection } from "astro:content";

const allPosts = await getCollection("writing"); // Assuming your posts are in 'src/content/posts/'
const allTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<ul>
  {
    allTags.map((tag) => (
      <p class="post-tags">
        <a href={`/tags/${tag}`}>#{tag}</a>
      </p>
    ))
  }
</ul>
