<div class="grid-auto-fit">
  <slot />
</div>

<!-- 
<style>
  .wrapper-wide {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 60px;

    @media screen and (max-width: 760px) {
      & {
        padding: 0 24px;
      }
    }
  }
</style> -->

<style>
  .grid-auto-fit {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
</style>
