<div class="wrapper-wide">
  <slot />
</div>

<style>
  .wrapper-wide {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 60px;

    @media screen and (max-width: 1000px) {
      & {
        padding: 0 24px;
      }
    }
  }
</style>
